.git
.idea
node_modules
nbproject
package-lock.json
debug.info
gulpfile.js
vis

# npm package files
iobroker.*.tgz

Thumbs.db
#react build files
admin/build

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt