.squeezeboxrpc-syncgroup {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.squeezeboxrpc-syncgroup-button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.squeezeboxrpc-syncgroup-button:active:not(:disabled) {
    transform: scale(0.9);
}

.squeezeboxrpc-syncgroup-button:disabled {
    cursor: default;
}

.squeezeboxrpc-syncgroup-content {
    position: relative;
    overflow: hidden;
}

.squeezeboxrpc-syncgroup-content > canvas {
    width: 100% !important;
    height: 100% !important;
}

.squeezeboxrpc-syncgroup-content > img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
}
