.squeezeboxrpc-play-button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.squeezeboxrpc-play-button:disabled {
    cursor: default;
}

.squeezeboxrpc-play-button img,
.squeezeboxrpc-play-button svg {
    display: block;
    width: 100%;
    height: 100%;
}

.squeezeboxrpc-play-button:not(:disabled):active img,
.squeezeboxrpc-play-button:not(:disabled):active svg {
    transform: scale(0.9);
    transform-origin: 50% 50%;
}
